{{ partial "header.html" . }}
{{ $pag := $.Paginator }}

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ if not $pag.HasPrev }}
{{ .Content }}
{{ end }}

<ul>
  {{ range (where $pag.Pages "Section" "ne" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a> (<a style="color: gray;" href="{{ .URL }}#disqus_thread">Comments</a>)
  </li>
  {{ end }}
</ul>

{{ if gt $pag.TotalPages 1 }}
  <nav id="pagenavi" style="width:100%; text-align:center;">
    {{ if $pag.HasPrev }}
    <div style="float:left"><a href="{{ $pag.Prev.URL }}" class="prev">Prev</a></div>
    {{ end }}
    <div style="display:inline-block">{{ $pag.PageNumber}} of {{ $pag.TotalPages }}</div>
    {{ if $pag.HasNext }}
    <div style="float:right"><a href="{{ $pag.Next.URL }}" class="next">Next</a></div>
    {{ end }}
  </nav>
  <div style="clear:both"></div>
{{ end }}

{{ partial "disqus.html" (dict "shortname" $.Site.Params.disqus_shortname "index" true) }}
{{ partial "footer.html" . }}
